<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="fr"
      th:attr="lang=${lang}">
<head>
    <meta charset="UTF-8"/>
    <style>
        @page {
            size: A4;
            margin: 0.30in;
        }

        .date {
            text-align: right;
            padding: 10px;
        }

        .number {
            text-align: right;
        }

        .percent {
            text-align: center;
        }

        .signature {
            text-align: right;
            padding: 10px;
        }

        td {
            margin: 5px;
            padding: 5px;
            border-top: 1px dotted #dadada;
            border-bottom: 1px dotted #dadada;
        }

        .invoice-table {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }

        .summary-table {
            width: 65%;
            margin-left: auto;
            margin-right: 20px;
        }

        .table-header {
            background-color: #e4f7ff;
        }

        tr:nth-child(odd).table-line {
            background: #dadada;
        }

        th {
            margin: 8px;
            padding: 8px;

        }


        .facture-id {
            text-align: center;
            padding: 10px;
            font-weight: bolder;
            font-size: larger;
        }

        .total {
            text-align: right;
            padding: 10px;
            font-weight: bolder;
            font-size: larger;

        }

        .full-width {
            width: 100%;
        }
    </style>
    <title th:text="${invoice.number}">Invoice</title>
</head>
<body>
<table class="full-width">
    <tr>
        <td><img src="logo.png" width="150" height="150" alt="logo"
                 th:attr="src=${logo},title=${logoTitle},alt=${logoAlt}"/></td>
        <td>
            <p th:utext="${senderName}">club</p>
            <p th:utext="${senderAddress}">Adresse du club</p>
        </td>
        <td>
            <p class="date">

                <span th:text="${dateIntro}">Luxembourg le, </span>
                <span th:text="${date}">15 janvier 2000</span>
            </p>
            <th:block th:if="${invoice.recipient}">
                <p>Aux parents de <span th:text="${invoice.recipient.name}">nom</span></p>
                <p th:text="${invoice.recipient.adress}">adresse</p>
                <p th:text="${invoice.recipient.email}">mail</p>
            </th:block>
        </td>
    </tr>
</table>
<p class="facture-id">
    <span th:text="${invoiceTitle}">facture N°:</span>
    <span th:text="${invoice.number}">XXXXX/YYYY-2023</span>
</p>
<p th:if="${InvoiceIntroP1}" th:utext="${InvoiceIntroP1}">Introduction de la facture: aaaa</p>
<p th:if="${InvoiceIntroP2}" th:utext="${InvoiceIntroP2}">Introduction de la facture: aaaa</p>
<p th:if="${InvoiceIntroP3}" th:utext="${InvoiceIntroP3}">Introduction de la facture: aaaa</p>
<p th:if="${InvoiceIntroP4}" th:utext="${InvoiceIntroP4}">Introduction de la facture: aaaa</p>
<p th:if="${InvoiceIntroP5}" th:utext="${InvoiceIntroP5}">Introduction de la facture: aaaa</p>
<p th:if="${InvoiceIntroP6}" th:utext="${InvoiceIntroP6}">Introduction de la facture: aaaa</p>
<p th:if="${InvoiceIntroP7}" th:utext="${InvoiceIntroP7}">Introduction de la facture: aaaa</p>
<p th:if="${InvoiceIntroP8}" th:utext="${InvoiceIntroP8}">Introduction de la facture: aaaa</p>
<p th:if="${InvoiceIntroP9}" th:utext="${InvoiceIntroP9}">Introduction de la facture: aaaa</p>
<p th:if="${InvoiceIntroP10}" th:utext="${InvoiceIntroP10}">Introduction de la facture: aaaa</p>
<table class="invoice-table">
    <tr class="table-header">
        <th th:utext="${invoiceDetailHeaderDescription}">description</th>
        <th th:if="${invoiceDetailHeaderQuantity}" class="number" th:utext="${invoiceDetailHeaderQuantity}">Quantité</th>
        <th th:if="${invoiceDetailHeaderUnitPrice}" class="number" th:utext="${invoiceDetailHeaderUnitPrice}">Prix Unitaire</th>
        <th th:if="${invoiceDetailHeaderVAT && invoice.hasSummary}" class="percent" th:utext="${invoiceDetailHeaderVAT}">taux de TVA</th>
        <th th:if="${invoiceDetailHeaderTotal}" class="number" th:utext="${invoiceDetailHeaderTotal}">Total</th>
        <th th:if="${invoiceDetailHeaderTotalInclVAT && invoice.hasSummary}" class="number" th:utext="${invoiceDetailHeaderTotalInclVAT}">TTC</th>
    </tr>
    <tr class="table-line" th:each="line:${invoice.lines}">
        <td th:text="${line.description}">description</td>
        <td  th:if="${invoiceDetailHeaderQuantity}" class="number" th:text="${line.quantity}">2</td>
        <td  th:if="${invoiceDetailHeaderUnitPrice}" class="number">
            <span th:text="${line.unitPrice}">25</span>
            <span th:utext="${currency}">&#160;€</span>
        </td>
        <td  th:if="${invoiceDetailHeaderVAT && invoice.hasSummary}" class="percent">
            <span th:text="${line.vat}">10</span>
            <span th:utext="${percent}">&#160;%</span>
        </td>
        <td  th:if="${invoiceDetailHeaderTotal}" class="number">
            <span th:text="${line.total}">50</span>
            <span th:utext="${currency}">&#160;€</span>
        </td>
        <td  th:if="${invoiceDetailHeaderTotalInclVAT && invoice.hasSummary}" class="number">
            <span th:text="${line.totalInclVat}">55</span>
            <span th:utext="${currency}">&#160;€</span>
        </td>
    </tr>
</table>
<th:block th:if="${invoice.hasSummary}">
    <p th:if="${VatSummaryIntroP1}" th:utext="${VatSummaryIntroP1}">Résumé TVA</p>
    <p th:if="${VatSummaryIntroP2}" th:utext="${VatSummaryIntroP2}"></p>
    <p th:if="${VatSummaryIntroP3}" th:utext="${VatSummaryIntroP3}"></p>
    <p th:if="${VatSummaryIntroP4}" th:utext="${VatSummaryIntroP4}"></p>
    <p th:if="${VatSummaryIntroP5}" th:utext="${VatSummaryIntroP5}"></p>
    <p th:if="${VatSummaryIntroP6}" th:utext="${VatSummaryIntroP6}"></p>
    <p th:if="${VatSummaryIntroP7}" th:utext="${VatSummaryIntroP7}"></p>
    <p th:if="${VatSummaryIntroP8}" th:utext="${VatSummaryIntroP8}"></p>
    <p th:if="${VatSummaryIntroP9}" th:utext="${VatSummaryIntroP9}"></p>
    <p th:if="${VatSummaryIntroP10}" th:utext="${VatSummaryIntroP10}"></p>
    <table class="summary-table">
        <tr class="table-header">
            <th class="percent" th:utext="${VATHeaderRate}">Taux</th>
            <th class="number" th:utext="${VATHeaderTotal}">Total</th>
            <th class="number" th:utext="${VATHeaderVAT}">TVA</th>
        </tr>
        <tr class="table-line" th:each="summary:${invoice.summary}">
            <td class="percent">
                <span th:text="${summary.vat}">10</span>
                <span th:utext="${percent}">&#160;%</span>
            </td>
            <td class="number">
                <span th:text="${summary.amount}">50</span>
                <span th:utext="${currency}">&#160;€</span>
            </td>
            <td class="number">
                <span th:text="${summary.vatAmount}">5</span>
                <span th:utext="${currency}">&#160;€</span>
            </td>
        </tr>
    </table>
</th:block>
<p th:if="${TotalIntroP1}" th:utext="${TotalIntroP1}">Texte avant le total à payer</p>
<p th:if="${TotalIntroP2}" th:utext="${TotalIntroP2}"></p>
<p th:if="${TotalIntroP3}" th:utext="${TotalIntroP3}"></p>
<p th:if="${TotalIntroP4}" th:utext="${TotalIntroP4}"></p>
<p th:if="${TotalIntroP5}" th:utext="${TotalIntroP5}"></p>
<p th:if="${TotalIntroP6}" th:utext="${TotalIntroP6}"></p>
<p th:if="${TotalIntroP7}" th:utext="${TotalIntroP7}"></p>
<p th:if="${TotalIntroP8}" th:utext="${TotalIntroP8}"></p>
<p th:if="${TotalIntroP9}" th:utext="${TotalIntroP9}"></p>
<p th:if="${TotalIntroP10}" th:utext="${TotalIntroP10}"></p>
<p class="total">
    <span th:utext="${TotalIntroShort}">Total à payer:</span>
    <span th:text="${invoice.total}">55</span>
    <span th:utext="${currency}">&#160;€</span>
</p>
<p th:if="${InvoiceConclusionP1}" th:utext="${InvoiceConclusionP1}">Texte fin de facture</p>
<p th:if="${InvoiceConclusionP2}" th:utext="${InvoiceConclusionP2}"></p>
<p th:if="${InvoiceConclusionP3}" th:utext="${InvoiceConclusionP3}"></p>
<p th:if="${InvoiceConclusionP4}" th:utext="${InvoiceConclusionP4}"></p>
<p th:if="${InvoiceConclusionP5}" th:utext="${InvoiceConclusionP5}"></p>
<p th:if="${InvoiceConclusionP6}" th:utext="${InvoiceConclusionP6}"></p>
<p th:if="${InvoiceConclusionP7}" th:utext="${InvoiceConclusionP7}"></p>
<p th:if="${InvoiceConclusionP8}" th:utext="${InvoiceConclusionP8}"></p>
<p th:if="${InvoiceConclusionP9}" th:utext="${InvoiceConclusionP9}"></p>
<p th:if="${InvoiceConclusionP10}" th:utext="${InvoiceConclusionP10}"></p>
<p class="signature" th:if="${SignatureP1}" th:utext="${SignatureP1}">Signataire,</p>
<p class="signature" th:if="${SignatureP2}" th:utext="${SignatureP2}">nom</p>
<table class="full-width">
    <tr>
        <td th:if="${senderName}">
            <span th:utext="${senderName}">club</span>
        </td>
        <td th:if="${senderAddress}">
            <span th:utext="${senderAddress}">1, Duerfstrooss L-9876 am Duerf</span>
        </td>
        <td th:if="${senderMail}">
            <span th:utext="${senderMail}">contactez nous <a href="mailto:email@du-club.lu">email@du-club.lu</a></span>
        </td>
        <td th:if="${senderWebsite}">
            <span th:utext="${senderWebsite}"><a
                    href="https://www.du-club.lu">www.du-club.lu</a></span>
        </td>
    </tr>
</table>
</body>
</html>
